.App {
  background-color: #282c34;
  min-height: 100vh;
}

body {
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .jumbotron {
    padding: 4rem 0 0 0;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 2rem 2rem 2rem 2rem;
}

.jumbotron {
  margin-bottom: 0;
}

.navbar {
  background-color: #282c34;
  color: white;
}

#banner {
  background-color: #69bbbf;
}
